h1{
    text-align: center;
}

.background{
    color: chocolate;
    margin-bottom: 50px;
}

#detail{
    height:300px;
}

section{
    display: inline-flex;
    margin-bottom:80px;
}
.Header-area{
    background-color: rgb(35, 45, 25);
    margin-bottom: 30px;
}
#img{
    float: right;
}

#img-float-right{

    float: right;
}

.detail-disabled{
    display:none;
}
.img-swift-left{
    float: left;
}

.move{
    position: absolute;
    transform: translate(50px);
}
img{
    height:auto;
}

h2{
    display: flex;
    justify-content: center;
}

.img1{
    margin-left: 10px;
}

.image2{
    display: none;
}

.image-stack{
    display:inline-flexbox;

}

.project{
    display: inline-block;
    margin-right: 50px;
    margin-left: 30px;
}
 section{
    margin-bottom: 50px;
 }